<div class="center jumbotron">
  <h1>Welcome to the JOB PORTAL</h1>

  <h2>
    Assignment Job Portal.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn btn-primary" %>
</div>

