<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Job Applied </h1>
    <p>
      Job Applied by 
    </p>
    <p></p>
  </body>
</html>