<table summary="fields for post">
		<tr>
			<th>Post Title</th>
			<td><%= f.text_field(:post_title)%></td>
		</tr>
		<tr>
			<th>Experience</th>
			<td><%= f.text_field(:experience) %></td>
		</tr>
		<tr>
			<th>Salery</th>
			<td><%= f.text_field(:salary) %></td>
		</tr>		
</table>